@import "tailwindcss";

:root {
  @apply bg-white text-gray-900; /* 亮色模式默认 */
}

.dark {
  @apply bg-black text-gray-100; /* 暗色模式覆盖 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
